<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor = "let usuario of credentials">
      <ion-label>Email: {{usuario.email}}</ion-label>
    </ion-item>
    <ion-item *ngFor = "let usuario of credentials">
      <ion-label>Contraseña: {{usuario.password}}</ion-label>
    </ion-item>
    <ion-item *ngFor = "let usuario of credentials">
      <ion-label>Nombre de Usuario: {{usuario.username}}</ion-label>
    </ion-item>
    <ion-item *ngFor = "let usuario of credentials">
      <ion-label>Telefono: {{usuario.cellphone}}</ion-label>
    </ion-item>
  </ion-list>
<br>
  <ion-button color="warning" (click)="goHome();">Ir al Home</ion-button>
</ion-content>
