<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-title>Acá te puedes logear!!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <br>
  <form [formGroup]="credentials">
    <ion-item class="ion-margin-bottom">
      <ion-input type="email" placeHolder="Email" formControlName="email"></ion-input>
    </ion-item>

    <ion-item class="ion-margin-bottom">
      <ion-input type="text" placeHolder="Password" formControlName="password"></ion-input>
    </ion-item>

    <ion-item class="ion-margin-bottom">
      <ion-input type="text" placeHolder="Nombre de Usuario" formControlName="username"></ion-input>
    </ion-item>

    <ion-item class="ion-margin-bottom">
      <ion-input type="number" placeHolder="Numero de Telefono" formControlName="cellphone"></ion-input>
    </ion-item>


    <ion-button color="warning" type="button" (click)="login();">Login</ion-button>
  </form>
</ion-content>
