<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Nombre Item: {{items.nombre}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-label>Descripcion: {{items.descripcion}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Precio: {{items.precio}}</ion-label>
    </ion-item>
  </ion-list>
  <ion-button (click)="goItems();">Volver a la lista de los Items</ion-button>
<br>
<br> 
<ion-content>
  <ion-card>
    <ion-card-content>
    <ion-label>Informe de actualizacion de informacion del producto </ion-label>
    <form [formGroup]="updateForm"> 
      <ion-input type="text" placeHolder="Nombre" formControlName="nombre"></ion-input>
      <ion-input type="text" placeHolder="Descripcion" formControlName="descripcion"></ion-input>
      <ion-input type="text" placeHolder="Precio" formControlName="precio"></ion-input>
    </form>
    <ion-button (click)="updateItem();"> Actualizar Información </ion-button>
    <ion-button (click)="goHome();">Home</ion-button>
  </ion-card-content>
</ion-card>
</ion-content>

<ion-button (click) = "deleteItem();"color="danger"><ion-icon name="trash-bin-outline">Borrar Item</ion-icon></ion-button>
