#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

#botonUsuario{
  position: absolute;
  right: 0;
}
#botonLogOut{
  position: static;
  left: 0;
}

ion-header {
  background-color: #f9cb92; /* orange */
}

ion-toolbar {
  background-color: #643a24; /* coffee */
}

ion-card {
  color: #94512c; /* coffee */
}

ion-item {
  background-color: #643a24; /* coffee */
  color: #915206; /* orange */
}

ion-label {
  color: #5a3911; /* orange */
}

ion-button {
  color: #f9cb92; /* orange */
}
.body {
  background-color: #f9cb92;
}

ion-label {
  border-radius: 10px;
}

ion-card-title{
  color: #5a3911;
}
