<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-title >
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

<ion-button color="warning" (click)='goUsuario()' id="botonUsuario">
  <ion-icon name="person"></ion-icon>Perfil
</ion-button>

<br>
<br>

<ion-card>
  <ion-card-title>
    Bienvenido al menu principal de nuestra aplicación BodegEeps
  </ion-card-title>
  <ion-card-content>
    Acá podrás ver la lista de items creados, crear un item, borrar un item y actualizar la información de el item que selecciones!
  </ion-card-content>
  <div>
    <ion-card-content>
      Tambien puedes filtar los objetos con la barra de busqueda situada en la parte superior de la pagina de los Items!
    </ion-card-content>
  </div>
</ion-card>
  <ion-button color="warning" type="button" (click)="goItems();">Ir a la lista de Items</ion-button>
</ion-content>
