<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-title>
      Quieres agregar un item?
    </ion-card-title>
    <ion-card-content>
      <ion-button (click)="goToAgregarItem();">Ir al formulario para agregar el Item</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
    <ion-card-title>Quieres iniciar sesión con otra cuenta? Clickea aquí!!!</ion-card-title>
    <ion-button type="button" (click)="logout();">logout</ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>
