<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Formulario de Actualización de Informacion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="updateForm">
    <ion-input type="text" placeHolder="Email" formControlName="email"></ion-input>
    <ion-input type="text" placeHolder="Password" formControlName="password"></ion-input>
    <ion-input type="text" placeHolder="Username" formControlName="username"></ion-input>
    <ion-input type="text" placeHolder="Numero de Telefono" formControlName="cellphone"></ion-input>
  </form>
  <ion-button (click)="updateUsuario();"> Actualizar </ion-button>
  <ion-button (click)="goHome();">Ir al Home</ion-button>
</ion-content>
