<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Formulario de Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <br>

  <form [formGroup]="this.credentials">
    <ion-item class="ion-margin-bottom">
      <ion-input type="email" placeHolder="Email" formControlName="email"></ion-input>
    </ion-item>

    <ion-item class="ion-margin-bottom">
      <ion-input type="text" placeHolder="Contraseña" formControlName="password"></ion-input>
    </ion-item>

    <ion-item class="ion-margin-bottom">
      <ion-input type="text" placeholder="Nombre de Usuario" formControlName="username"></ion-input>
    </ion-item>

    <ion-item class="ion-margin-bottom">
      <ion-input type="text" placeholder="Telefono" formControlName="cellphone"></ion-input>
    </ion-item>

    <ion-button type="button" (click)="registrarUsuario()">Registarse</ion-button>
    <ion-button (click)="goLogin();">
      <ion-label>Ya tienes cuenta? Haz click aquí!</ion-label>
    </ion-button>
  </form>

</ion-content>
