ion-header {
    background-color: #f9cb92; /* orange */

  }
  
  ion-toolbar {
    background-color: #643a24; /* coffee */
  }
  
  
  ion-item {
    background-color: #643a24; /* coffee */
    color: #915206; /* orange */
  }
  
  
  ion-button {
    color: #f9cb92; /* orange */
  }
  .body {
    background-color: #f9cb92;
  }

  ion-label {
    border-radius: 10px;
  }
  ion-input{
    color: #44200c;
  }
